#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  height: 25vh;
  border: 1px solid #ccc;
}